.card{
    background-color: #2e3748;
    border-radius: .5rem;
    padding: 1.25rem;

     box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.15),
        0 4px 12px rgba(0, 0, 0, 0.25);

    ransition:
        box-shadow 0.2s ease,
        transform 0.2s ease;
}

.card:hover {
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.2),
        0 10px 24px rgba(0, 0, 0, 0.35);

    transform: translateY(-2px);
}