.div-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.div-panel{
    display: flex;
    width: 99vw;
    height: 99vh;
    align-items: center;
    justify-content: center;
}